:root {
  --background: 32 100% 97%;
  --foreground: 75 30% 15%;
  --card: 24 85% 93%;
  --card-foreground: 75 30% 15%;
  --popover: 24 85% 95%;
  --popover-foreground: 75 30% 15%;
  --primary: 24 85% 40%;
  --primary-foreground: 32 100% 97%;
  --secondary: 75 100% 22%;
  --secondary-foreground: 32 100% 97%;
  --muted: 75 15% 85%;
  --muted-foreground: 75 25% 30%;
  --accent: 75 15% 85%;
  --accent-foreground: 75 17% 35%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 32 100% 97%;
  --border: 75 15% 75%;
  --input: 75 15% 75%;
  --ring: 24 85% 40%;
  --radius: 0.5rem;
  --chart-1: 24 85% 40%;
  --chart-2: 75 17% 35%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 75 17% 35%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 75 17% 35%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}
